<div calss= "container">
<%= form_with(model: @idea, local: true) do |form|%>
<div>
    <% if @idea.errors.present?%>
    <%= @idea.errors.full_messages.join(', ')%>
    <% end %>
</div>
<div>
    <%= form.label :title%><br>
    <%= form.text_field :title %>
</div>
<div>
    <%= form.label :description %><br>
    <%= form.text_area :description, cols: 50, rows:5%>  
</div>
<br>
    <%= form.submit 'create', :class => 'button' %>
<% end %>
</div>
